{% assign achievements = site.data.data.achievements %}

<span class="section-title"><b>Achievements & Activities</b></span>
<hr>

<div class="content" id="achievements">
    <ul>
        {% for ach in achievements %}
        <div class="content-inner">
            <li class="float-right">
                <div>
                    {{ ach.name }}{% if ach.optional %}, 
                    <i>{{ ach. optional}}</i>
                    {% endif %}
                </div>
                
                <div>
                    <b>{{ ach.date-range }}</b>
                </div>
            </li>
        </div>
        {% endfor %}
    </ul>
</div>

