{% assign education = site.data.data.education %}

<span class="section-title"><b>Education</b></span>
<hr>

<div class="content" id="education">
    {% for edu in education %}
    <div class="content-inner line-height">
        <div class="float-right">
            <i>{{ edu.university }}</i>
            <i>{{ edu.location }}</i>
        </div>

        <div class="float-right">
            <div><b>{{ edu.subject }},</b> {{ edu.degree }}</div>
            <div><b>Graduation:</b> {{ edu.graduation }}</div>
        </div>

        {% if edu.extra-bold %}
        <div class="float-right">
            <div><b>{{ edu.extra-bold }}:</b> {{ edu.extra-text }}</div>
            <div><b>GPA:</b> {{ edu.gpa }}</div>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>

