{% assign education = site.data.data.education %}

<span class="section-title"><b>Education</b></span>
<hr>

<div class="content">
    {% for edu in education %}
    <p class="line-height">
        <i>{{ edu.university }}</i>
        <span><i>{{ edu.location }}</i></span><br>

        <b>{{ edu.subject }},</b> {{ edu.degree }}
        <span><b>Graduation:</b> {{ edu.graduation }}</span><br>

        {% if edu.extra-bold %}
        <b>{{ edu.extra-bold }}:</b> {{ edu.extra-text }}
        <span><b>GPA:</b> {{ edu.gpa }}</span>
        {% endif %}
    </p>
    {% endfor %}
</div>

