{% assign experience = site.data.data.experience %}

<span class="section-title"><b>Work Experience</b></span>
<hr>

<div class="content" id="experience">
    {% for exp in experience %}
    <div class="content-inner">
        <div class="float-right line-height">
            <div><b>{{ exp.title }},</b> {{ exp.field }}</div>
            <b>{{ exp.date-range }}</b>
        </div>

        <div class="float-right line-height">
            <i>{{ exp.employer }}</i>
            <i>{{ exp.location }}</i>
        </div>

        <ul>
            {% for detail in exp.details %}
                <li>{{ detail.bullet }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>

