{% assign experience = site.data.data.experience %}

<span class="section-title"><b>Work Experience</b></span>
<hr>

<div class="content">
    {% for exp in experience %}
    <p  class="line-height" style="margin-bottom: 5px;">
        <b>{{ exp.title }},</b> {{ exp.field }}
        <span><b>{{ exp.date-range }}</b></span><br>
        <i>{{ exp.employer }}</i>
        <span><i>{{ exp.location }}</i></span><br>
    </p>
    <ul style="margin: 0;">
        {% for detail in exp.details %}
            <li>{{ detail.bullet }}</li>
        {% endfor %}
    </ul>
    {% endfor %}
</div>
