{% assign projects = site.data.data.projects %}

<span class="section-title"><b>Projects</b></span>
<hr>

<div class="content" id="projects">
    {% for proj in projects %}
    <div class="content-inner">
        <div class="float-right line-height">
            <div><b>{{ proj.name }},</b> {{ proj.field }}</div>
            <div><b>{{ proj.date-range }}</b></div>
        </div>

        <ul>
            {% for detail in proj.details %}
                <li>{{ detail.bullet }}</li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</div>

